html {
	background: #2986cc;
}

body {
	font: Rockwell,  serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(2, 20, 117);
	font-weight:normal;
	font-style:normal;

    width: 1280px;
	margin: 20 auto;
    padding: 20px;
}


form, div{
	border-bottom: 2px solid rgb(2, 20, 117);
	margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

h1 {
	font-family: Rockwell,  serif;
	font-size: 1.8em;
    color:  rgb(2, 20, 117);
	border-bottom: 2px solid rgb(2, 20, 117);
	margin-bottom: 1.5em;

}

.example_a {
    border: none;
    background: #2986cc;
    color: #cfe9ff !important;
    font-weight: 60;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    float: right;
    margin-top: 2em;
}

.example_a:hover {
    color: #2986cc !important;
    font-weight: 800 !important;
    letter-spacing: 5px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(113,121,157,0.59);
    -moz-box-shadow: 0px 5px 40px -10px rgba(113,121,157,0.59);
    transition: all 0.3s ease 0s;
}
